<!DOCTYPE html>
<html lang="en">
<head>
    <title>Authentication <%= error ? 'Failed' : 'Success' %></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>
<script type="text/javascript">
    var session = <%- JSON.stringify(session) %>;
    var error = <%- JSON.stringify(error) %>;
    var link = <%- JSON.stringify(link) %>;

    if (window.opener) {
        window.opener.focus();
        if (window.opener.superlogin && window.opener.superlogin.oauthSession) {
            window.opener.superlogin.oauthSession(error, session, link);
        }
    }

    try {
        var queryData = {
            session: session,
            error: error,
            link: link
        };
        var queryArray = [];
        for (key in queryData) {
            var value = queryData[key];
            if (value) queryArray.push(key + '=' + value);
        }
        var query = queryArray.join('&');
        setTimeout(function() {
          window.location.assign('doodle3dtransform://token?' + query);
        }, 1000);
    } finally {
        window.close();
    }
</script>
</body>
</html>
